Source: gfxboot
Section: misc
Priority: extra
Maintainer: Debian QA Group <packages@qa.debian.org>
Uploaders: lilongyu <leaeasy@gmail.com>
Build-Depends:
 debhelper (>= 9),
 cpio,
 nasm,
 libfreetype6-dev,
 libhtml-parser-perl,
 w3m,
 xmlto,
Standards-Version: 3.9.6
Homepage: https://github.com/openSUSE/gfxboot
Vcs-Browser: https://github.com/leaeasy/gfxboot.git
Vcs-Git: git://github.com/leaeasy/gfxboot.git

Package: gfxboot
Architecture: any-amd64 any-i386
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Suggests: gfxboot-themes
Description: tool to test and create graphical boot logos (runtime)
 gfxboot is a tool to test and create graphical boot logos for gfxboot compliant
 boot loaders. Currently, this includes grub, lilo, and syslinux (all payloads).
 .
 This package contains the runtime utility.

Package: gfxboot-dev
Architecture: any-amd64 any-i386
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 gfxboot (= ${binary:Version}),
 cpio,
 libfribidi0,
 libhtml-parser-perl,
Recommends: fonts-dejavu-core | ttf-dejavu-core
Suggests: gfxboot-themes
Conflicts: gfxboot-examples
Replaces: gfxboot-examples
Description: tool to test and create graphical boot logos (development)
 gfxboot is a tool to test and create graphical boot logos for gfxboot compliant
 boot loaders. Currently, this includes grub, lilo, and syslinux (all payloads).
 .
 This package contains the development utilities.

Package: gfxboot-themes
Architecture: all
Depends:
 ${misc:Depends},
 gfxboot (>= ${source:Version}),
Recommends: gfxboot-dev
Conflicts:
 gfxboot-themes-kde,
 gfxboot-themes-opensuse,
 gfxboot-themes-sled,
 gfxboot-themes-sles,
 gfxboot-themes-upstream,
Replaces:
 gfxboot-themes-kde,
 gfxboot-themes-opensuse,
 gfxboot-themes-sled,
 gfxboot-themes-sles,
 gfxboot-themes-upstream,
Provides: gfxboot-theme
Description: tool to test and create graphical boot logos (themes)
 gfxboot is a tool to test and create graphical boot logos for gfxboot compliant
 boot loaders. Currently, this includes grub, lilo, and syslinux (all payloads).
 .
 This package contains full featured themes (KDE, openSUSE, SLED, SLES, and
 upstream).
